.DS_Store
/dist/
/node_modules/
yarn-error.log
npm-debug.log

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Observable cache
src/.observablehq/cache

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
